
body{
    background-color: rgb(253,251,251);
    margin:auto
}

#cabecalho{
    background-color: green;
    position: fixed;
    top: 0px;
    width: 100%;
}

#titulo{
text-align: center;
}

#minha_foto{
    margin-top: 160px;
    margin-left: 6px;
    position:unset;
    height: 100px;
    width: 100px;
    display: block;
       
}

#licoes_aprendidas{

}

#licoes_a_aprender{

}

.nave-style ul{
    position:unset;
    display: inline-block;

}