body {
  font-size: 20px;
  top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.65;
  text-align: justify;
  color: rgb(2, 56, 2);
  background-color: rgb(253, 251, 251);
  margin: 3%;
}

#cabecalho {
  background-color: green;
  position: fixed;
  width: 100%;
  border-radius: 8pt;
  bottom: auto;
}

#titulo {
  text-align: center;
}

h2 , h3 , h4 {
  color: rgb(1, 88, 1);
  text-align: left;
}

#minha_foto {
  margin-top: 10%;
  position: unset;
  height: 150px;
  width: 150px;
  border-radius: 8px;
}

.link {
  background-color: rgb(2, 119, 2);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  margin-top: 20px;
}

.link:hover {
  background-color: rgb(2, 109, 68);
  color: rgb(2, 59, 2);
}

#licoes_aprendidas {
  width: 50%;
  padding: 30px 40px;
  display: inline-block;
  vertical-align: top;
}

#licoes_a_aprender {
  width: 50%;
  padding: 30px 40px;
  display: inline-block;
  vertical-align: top;
}

.nave-style li {
  top: 75px;
  position: relative;
  background-color: rgb(2, 119, 2);
  list-style-type: none;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
  padding: 10px;
  margin-top: 30px;
}

.table , th , td {
  border: 2px solid black;
  height: 25px;
}

th {
  height: 50px;
  background-color: rgba(128, 128, 128, 0.349);
}

td {
  background-color: rgba(128, 128, 128, 0.123);
}

table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 8pt;
  border-style: outset;
}

h1 {
  color: rgb(1, 31, 1);
}

h4 {
  text-align: center;
}

.trybe-head {
  color: rgb(1, 53, 1);
  background-color: rgba(0, 128, 0, 0.685);
}

.trybe {
  background-color: rgba(0, 128, 0, 0.466);
}

footer {
  background-color: rgba(128, 128, 128, 0.349);
  color: black;
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  display: block;
  padding: 1px;
  width: 100%;
  margin-top: 30px;
}

.aprendizado {
  padding: 30px;
  width: 100%;
  margin: auto;
  display: inline-block;
  vertical-align: top;
}

.lado-esquerdo {
  width: 50%;
  padding: 30px 40px;
  display: inline-block;
  vertical-align: top;
}

.lado-direito {
  width: 30%;
  padding: 30px 40px;
  display: inline-block;
  vertical-align: top;
}

.lado-direito aside {
  vertical-align: top;
}
